*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


header{
  background-color: blanchedalmond;
  display: flex;
  padding: 20px;
  
}



a{
  text-decoration: none;
}

.links{
  padding: 30px;
}

.elementLink{
  margin-bottom: 12px;
  font-size: large;
}

img{
  width: 350px;
}